/* app css stylesheet */
.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}
select, textarea {
  color: #52575c;
}

.well-title {
  margin-top: 0px;
}
.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {
  padding-left:6px;
  cursor:pointer;
}

/* Added with d3 charts */

/* For pie charts */
body {
  font: 14px Helvetica Neue;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  overflow-y: scroll;
}
.label {
  font-size: .65em;
}
body {
  width: 960px;
  margin: auto;
}
h1 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: .3em;
}
.error {
  color: red;
}

/* for barcharts */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #F7BE81;
}

.x.axis path {
  display: inline;
}
